/* Extra small devices (phones, 600px and down) /
@media only screen and (max-width: 600px) {...}

/ Small devices (portrait tablets and large phones, 600px and up) /
@media only screen and (min-width: 600px) {...}

/ Medium devices (landscape tablets, 768px and up) /
@media only screen and (min-width: 768px) {...}

/ Large devices (laptops/desktops, 992px and up) /
@media only screen and (min-width: 992px) {...}

/ Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


@media only screen and (min-width: 350px) {
    .hamburger { padding: 5px 2rem; }
    .menu { width: 100%; }
    .menu li { display: none; margin: 0 auto; margin-top: 5rem; text-shadow: 5px 5px 5px rgba(0,0,0,.8); }
    .menu li:hover { background-color: transparent; }
    .menu > li:first-child { margin-top: 50rem; }
    body { overflow-x: hidden; }
    section { padding: 2rem 0; }
    .switch { margin-left: 80vw; }
    .title h1::after { display: none; }
    .about-me { width: 80%; }
    .about-me p { font-size: 1.35rem; }
    .projects { grid-template-columns: repeat(1, 1fr); }
    .project:nth-child(2) { margin-top: -10rem; } 
    .project-title::after, .skills-title::after, .contact-section h2::after { left: 0; width: 100%; }
    .project-title, .skills-title, .contact-section h2 { font-size: 2.4rem; }
    .skills { flex-direction: column; align-items: center; }
    .skill { padding: 2rem 0; }
    .contact ul { flex-direction: column; align-items: center; }
    .contact ul li { padding: 1rem 0; }
    .contact ul li span { font-size: 1.6rem; }
    footer ul { justify-content: center; margin-left: 0;}
    footer p { font-size: 1.2rem; }
}

@media only screen and (min-width: 767px) {
    .switch { margin-left: 90vw; }
    .projects { grid-template-columns: repeat(2, 1fr); }
    .project:nth-child(2) { margin-top: 0; }
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 70%;
        margin: 0 auto;
        row-gap: 2rem;
    }
}

@media only screen and (min-width: 800px) {
    .menu { padding: 0 7rem; }
    .menu li { display: block; text-shadow: none; }
    .menu li:first-child { margin-top: 0; }
    .menu li { margin-top: 0;}
    .menu li a { font-size: 1.12rem; }
    .switch { margin-left: 92vw; }
}

@media only screen and (min-width: 992px) {
    .menu { padding: 0 15rem; }
    .project-title::after, .skills-title::after, .contact-section h2::after { width: 40%; left: 30%; }
    .about-me { width: 66%; text-align: center; }
    .skills { grid-template-columns: repeat(4, 1fr); width: 90%; }
    .menu li:hover { background-color: var(--primary-color); }
}

@media only screen and (min-width: 1020px) {
    .about-me p { font-size: 1.5rem; }
}